<ion-view view-title="帐户">
    <ion-content>

        <div class="list card">

            <div class="item item-avatar">
                <img src="img/adam.jpg">
                <h2>Tom</h2>
                <p>顾客ID：123456</p>
            </div>

            <div class="item item-body">
                <div class="row">
                    <div class="col">会员余额</div>
                    <div class="col">积分</div>
                    <div class="col">优惠券</div>
                    <div class="col">我的邮件</div>
                </div>
            </div>

        </div>

        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-home"></i> 我的订单
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i> 我的收藏
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-wifi"></i> 我的邮箱
            </a>
        </div>

        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-home"></i> 会员中心
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i> 我的积分
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-wifi"></i> 优惠券
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-card"></i> 我的奖品
            </a>
        </div>
    </ion-content>
</ion-view>
