/* Empty. Add your own CSS if you like */

.weekday-list {
    background-color: #dddddd;
}

html, body {
    font-size: 1em;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    color: #333;
}

div.ng-blog{
    padding: 1em;
}

div.ng-blog p{
    margin-bottom: 1em;
    line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
